@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;700&display=swap');
@import "tailwindcss";

body {
  margin: 0;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

.game-font {
  font-family: "Pixelify Sans", sans-serif;
}